<div class="form-floating mb-3">
    <input type="{{ type }}" 
        class="form-control" 
        [formControl]="control"
        placeholder="{{ label }}"
        [class.is-invalid]="control.dirty && control.invalid">
    <label for="floatingInput">{{ label }}</label>

    <div class="invalid-feedback" *ngIf="control.errors?.['required']">Το πεδίο είναι απαραίτητο</div>
    <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">Μη επαρκής αριθμός χαρακτήρων</div>
    <div class="invalid-feedback" *ngIf="control.errors?.['maxlength']">Υπερβήκατε το όριο των επιτρεπόμενων χαρακτήρων</div>
    <div class="invalid-feedback" *ngIf="control.errors?.['notMatching']">Οι κωδικοί δεν ταιριάζουν</div>
    <div class="invalid-feedback" *ngIf="control.errors?.['pattern']">Ένας ή περισσότεροι χαρακτήρες δεν είναι έγκυροι</div>
    <div class="invalid-feedback" *ngIf="control.errors?.['lessThanZero']">Το πεδίο δεν μπορεί να είναι μηδενικό</div>
</div>
