<div class="row">
    
    <div class="d-flex justify-content-center mt-5">
        <img src="./assets/logo.PNG" alt="logo" class="img-fluid">
    </div>
    
    <div class="text-center mx-auto" style="width: 500px;">

        <h5 class="mt-5">Καλως ήρθατε στην πλατφόρμα του <strong>Energy Bills!</strong></h5>
        <h5 class="mt-5">Το <strong>Energy Bills</strong> αποτελεί δράση ενίσχυσης των νοικοκοιριών λόγω της αύξησης του κόστους της ενέργειας </h5>

        <p class="mt-5 h5">
            Εάν έχετε πραγματοποιήσει εγγραφή στην πλατφόρμα μπορείτε να συνδεθείτε με τα διαπιστευτήρια του λογαριασμού σας. 
            <br>
            <br>
            Σε διαφορετική περίπτωση μπορείτε να εγγραφείτε με χρήση των κωδικών Taxisnet.
        </p>

        <div class="mt-5 mb-3">
            <button class="btn btn-primary" routerLink="/login" [disabled]="currentUser$ | async">Είσοδος στην πλατφόρμα</button>
        </div>
        <div class="mb-5">
            <button class="btn btn-primary" routerLink="/taxisnet-login" [disabled]="currentUser$ | async">Εγγραφή μέσω Taxisnet</button>
        </div>
    </div>

<hr>

<div class="text-center text-decoration-underline my-4 fs-3">
      Συχνές Ερωτήσεις  
</div>

<p class="mb-3 fs-5"><strong>Τι είναι το Energy Bills;</strong></p>
<p class="mb-5 fs-5">
    Το Energy Bills είναι πλατφόρμα επιδότησης των λογαριασμών φυσικού αερίου και ρεύματος των νοικοκυρίών που πληρούν τα οικονομικά κριτήρια. 
    Η επιδότηση αφορά λογαριασμού που εκδόθηκαν από τον Ιανουάριο του 2022 και έπειτα.
</p>

<p class="mb-3 fs-5"><strong>Δικαιούμαι επιδότηση;</strong></p>
<div class="mb-5 fs-5">
    <div class="mb-4">Δικαιούστε επιδότηση εφόσον πληρείτε τα κάτωθι κριτήρια:</div>
    <ul>
        <li>Είστε φορολογικός κάτοικος Ελλάδος</li>
        <li>
            Αναφορικά με το μεικτό ετήσιο εισόδημα, με βάση τα δηλωθέντα εισοδήματα του φορολογικού έτους 2021, η επιδότηση κάθε μήνα θα διαμορφώνεται αναλόγως με τις τιμές κόστους της ενέργειας, για τρεις φορολογικές κατηγορίες ως εξής:
            <ul class="my-2">
                <li>Ποσοστό(%) επί του συνόλου των λογαριασμών για ετήσιο μεικτό εισόδημα έως 12.000&euro;</li>
                <li>Ποσοστό(%) επί του συνόλου των λογαριασμών για ετήσιο μεικτό εισόδημα έως 17.000&euro;</li>
                <li>Ποσοστό(%) επί του συνόλου των λογαριασμών για ετήσιο μεικτό εισόδημα έως 22.000&euro;</li>
            </ul>
        </li>
        <li>Οι λογαριασμοί ρεύματος και φυσικού αερίου εκδίδονται στο δικό σας όνομα.</li>        
    </ul>
</div>

<p class="mb-3 fs-5"><strong>Ποια είναι η διαδικασία;</strong></p>
<div class="mb-5 fs-5">
    <div class="mb-4">H λειτουργία της πλατφόρμας είναι ιδιαίτερα απλή. Αναλυτικά:</div>
    <ol>
        <li>
            Πραγματοποιείτε εγγραφή στην πλατφόρμα με τους κωδικούς σας στο Taxisnet και επιβεβαιώνετε ότι τα στοιχεία σας (ονοματεπώνυμο, ΑΦΜ, έτος γέννησης κτλ.) που εμφανίζονται είναι σωστά.
            Επιλέγετε όνομα χρήστη, κωδικό, e-mail, αριθμό κινητού και ΙΒΑΝ λογαριασμού στο οποίο πρέπει απαραίτηταν να είστε δικαιούχος ή συνδικαιούχος. Ολοκληρώνετε την εγγραφή σας.
            <br>
            Αν έχετε πραγματοποιήσει ήδη εγγραφή συνδέεστε με τα διαπιστευτήρια σας.
        </li>
        <li>Στην οθόνη eπιλέγεται από το μενού «Νέα Αίτηση»</li>
        <li>
            Εισάγετε τον αριθμό του λογαριασμού / λογαριασμών και τον μήνα στον οποίο αναφέρονται και επιλέγετε «Υποβολή».
            <br>
            <div class="text-decoration-underline fs-6 mt-3">Προσοχή κάθε μήνα μπορείτε να υποβάλλετε λογαριασμούς μόνο για τον αμέσως προηγούμενο μήνα. </div>
        </li>        
    </ol>
</div>
