<div class="d-flex flex-column justify-content-between" style="height: 100vh;">
  
  <app-navbar></app-navbar>

  <div class="container inside flex-grow-1">
      <router-outlet></router-outlet>
  </div>

  <footer class="bg-primary text-dark text-center text-lg-start fs-5">
      <!-- Copyright -->
      <hr>
      <div class="text-center mb-4">
        © 2022 Copyright:
        <a class="text-dark ms-2" href="https://government.gov.gr/">Ελληνική Δημοκρατία</a>
      </div>
      <!-- Copyright -->
  </footer>
</div>

